/* big tablet to 1200px (width smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  .row {
    padding: 0 3%;
  }

  .sticky-nav ul {
    margin-left: 50px;
  }
}

/* small tablets to big tablets: 768 - 1023 */
@media only screen and (max-width: 1023px) {

  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }

}

/* small phones to small tablets: 481 - 767 */
@media only screen and (max-width: 767px) {

  html,body {
    font-size: 14px;
  }

  h1 {
    font-size: 230%;
  }

  section {
    padding: 20px 0 200px 0;
  }

  .btn {
    padding: 8px 10px;
  }

  .hero-box {
    text-align: center;
    position: absolute;
    right: 20px;
    bottom: 100px;
  }

  .hero-logo {
    width: 100px;
  }

  .hamburger-btn {
    display: block;
  }

  .rw-box {
    position: absolute;
    margin-top:0px;
    margin-bottom: 40px;
    top:100px;
    font-size: 200%;
    line-height: 145%;
    /* background-color: red; */
  }

  .hero-contact-btn {
    position: absolute;
    top:250px;
  }

  .rw-services span {
    top: 38px;
  }

  .contact-modal-box a.ph-no {
    border-bottom: 1px solid #fff;
  }

  .contact-modal-box .jd-logo {
    border-bottom: 0px solid #fff;
  }

  .modal-box {
    width: 90%;
  }

  .logo-container img {
    height: 100px;
  }

  .service-tabs button {
    font-size: 110%;
    padding: 7px 10px;
    margin: 0 3px 7px 0;
  }

  .about-service-box {
    font-size: 120%;
  }

  /* REDESIGNED NAVBAR */

  .main-nav-container {
    /* display: none; */
    position: fixed;
    background-color: rgba(0, 0, 0, 0.877);
    height: 100vh;
    width: 100%;
    right: -100%;
    -webkit-transition: right 0.5s;
    transition: right 0.5s;
  }

  .main-nav {
    position: absolute;
    list-style: none;
    margin-top: 0px;
    letter-spacing: 3px;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%)
  }

  .main-nav li {
    display: block;
    margin-right: 0px;
    text-transform: uppercase;
    font-size: 130%;
    margin-bottom: 40px;
    text-align: center;

  }

  /* MAP */

  .map-container:hover {
    -webkit-transform: none;
            transform: none;
    -webkit-box-shadow: 0 1px 15px rgba(209, 209, 209, 0.459);
            box-shadow: 0 1px 15px rgba(209, 209, 209, 0.459);
  }

  .map-container:hover:after {
    display: none;
  }

  /* FOOTER ADJUSTMENTS */

  .social-nav-footer {
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .social-nav-footer li {
    float: none;
    display: inline-block;
    margin: 0 10px;
  }

  .text-footer {
    float: none;
    text-align: center;
    display: block;
  }

  /* gallery */

  .gallery-item {
    height: 150px;
    margin: 10px;
    border: 7px solid #fff;
    border-bottom: 20px solid #fff;
  }

  .gallery-item:hover {
    transform: rotate(0deg) scale(1.7) !important;
  }

}


/* small phones: 0 to 480px  */
@media only screen and (max-width: 400px) {
  html,body {
    font-size: 10px;
  }

  .rw-services span {
    top: 24px;
  }

}