/*
COLOR PALETTE
the-blue: #409ad5
dark-blue: #2980b9
*/

/* ---------------------------- */
/* BASIC SETUP */
/* ---------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  background-color: rgb(250, 250, 250);
  color: rgb(26, 26, 26);
  font-family: 'GeoSansLight', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* --------------------------- */
/* RESUABLE COMPONENTS */
/* --------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 70px 0;
}

h1,h2,h3 {
  line-height: 145%;
  font-weight: bold;
}

h1 {
  letter-spacing: 1px;
  font-size: 400%;
}

h2 {
  font-size: 200%;
  text-align: center;
  margin-bottom: 30px;
}

h2::after {
  content: '';
  display: block;
  margin: 10px auto 0 auto;
  height: 2px;
  width: 60px;
  background-color: #409ad5;
}

h3 {
  font-size: 140%;
  margin-bottom: 10px;
}

p {
  line-height: 145%;
}

a {
  text-decoration: none;
}

/* BUTTONS */

.btn {
  position: relative;
  color:white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 10px;
}

.btn-the-blue {
  background-color: #2980b9;
  transition: background-color 0.5s;
}

.btn-the-blue:hover {
  background-color: #409ad5;
}

/* Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 10;
  top:0;
  right:0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.733);
  animation: fadeIn 0.5s;
  overflow: auto;
}

.modal-close {
  float: right;
  font-size: 200%;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.modal-body h2::after {
  background-color: #fff;
}


.modal-body h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.modal-box {
  width: 70%;
  margin: 5% auto;
  padding: 5%;
  border-radius: 10px;
  position: relative;
}

/* CONTACT MODAL */

.contact-modal-box {
  background-color: #2980b9;
  color: #fff;
}

.contact-modal-box .modal-body {
  text-align: center;
}

.contact-modal-box a {
  text-decoration: none;
  color: #fff;
  padding-bottom: 3px;
}

.jd-logo img {
  background-color: #fff;
  border-radius: 10px;
  width: 85px;
  padding: 3px 7px;
}

.social-nav {
  list-style: none;
  margin: 0 auto;
  width: fit-content;
  /* background-color: red; */
}

.social-nav li {
  display: inline-block;
  font-size: 30px;
  margin: 15px 15px;
  transition: color 0.5s;
}

.social-nav li:hover {
  color :#000;
}

/* LOADER */

.loader-container {
  position: fixed;
  z-index: 5;
  left:0;
  top:0;
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
}

.loader-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}



/* ---------------------------- */
/* HEADER */
/* ---------------------------- */

header {
  height: 100vh;
  position: relative;
}

.header-bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.863),rgba(0, 0, 0, 0)), url(img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;

  /* use this rules only for blur bg */
  /* margin: -10px -10px -20px -10px;
  filter: blur(5px);
  animation: blurred 2s; */
}

@keyframes blurred {
  0% {
    filter: blur(0);
  }

  100% {
    filter: blur(5px);
  }
}

.hamburger-btn {
  position: absolute;
  top: 30px;
  left: 3%; /* putting it same as row padding */
  color:white;
  font-size: 300%;
  position: fixed;
  width: 45px;
  height: 45px;
  z-index: 4;
  background-color: #9e9e9e70;
  line-height: 0px;
  padding:0px;
  border-radius: 10px;
  display: none;
}

.hamburger-btn i {
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.diag-cut {
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top:0;
  /* transform: translateX(40px); */
}

.hero-box {
  text-align: center;
  position: absolute;
  right: 50px;
  bottom: 100px;
}

.hero-logo {
  width: 200px;
  margin-bottom: 0px;
}

.hero-box h1 {
  margin: 0 20px;
}

.hero-box p {
  font-size: 120%;
  color: rgb(78, 78, 78);
}

.main-nav-container {
  position: relative;
  z-index: 3;
}

.main-nav {
  list-style: none;
  margin-top: 20px;
  letter-spacing: 3px;
}

.main-nav li {
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  color:#fff;
  border-top: 3px solid transparent;
  transition: color 0.4s, border-top 1s;
  padding-top: 5px;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #409ad5;
  position: relative;
  border-top: 3px solid #409ad5;
  transition: border-top 0.5s;
}

.main-nav li a.active {
  /* font-size: 150%; */
  font-weight: bold;
}

/* rotating words */
.rw-box {
  position: relative;
  color:#fff;
  width: 100%;
  margin-top:140px;
  margin-bottom: 40px;
  font-size: 200%;
  line-height: 145%;
}

.rw-services span {
  padding: 2px 10px;
  background-color: black;
  text-align: center;
  position: absolute;
  top: 42px;
  animation: fadeInOut 18s linear infinite;
  opacity: 0;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
	5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
	20% {
    opacity: 0;
    transform: translateY(30px);
  }
	80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.rw-services span:nth-child(1) {
  animation-delay: 0s;
}
.rw-services span:nth-child(2) {
  animation-delay: 3s;
}
.rw-services span:nth-child(3) {
  animation-delay: 6s;
}
.rw-services span:nth-child(4) {
  animation-delay: 9s;
}
.rw-services span:nth-child(5) {
  animation-delay: 12s;
}
.rw-services span:nth-child(6) {
  animation-delay: 15s;
}

.hero-contact-btn {
  font-size: 140%;
  animation-iteration-count: 3;
  animation-delay: 1s;
}

/* ---------------------------- */
/* SERVICES */
/* ---------------------------- */

/* .section-services {
  background: linear-gradient(#000, rgba(0, 0, 0, 0.397)) ,url(img/bg2.jpeg);
  background-attachment: fixed;
  color: #fff;
} */

.service-tabs {
  overflow: hidden;
  text-align: center;
  margin-bottom: 40px;
}

.service-tabs button {
  background-color: inherit;
  /* float: left; */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  background-color: #f1f1f1;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 5px 10px 0;
  border-radius: 10px;
  border: 2px solid transparent;
  color: rgb(27, 27, 27);
  transition: border 0.4s, color 0.4s;
}

.service-tabs button:hover {
  border: 2px solid #409ad5;
  color: #236d9d;
}


.service-tabs button.active {
  background-color: #409ad5;
  color: #fff;
}

.tabcontent {
  display: none;
  /* padding: 6px 12px; */
  /* border: 1px solid #ccc; */
  border-top: none;
  animation: fadeIn 1s;
  height: 200px;
}

.about-service-box {
  text-align: center;
  line-height: 145%;
}

.carousal{
  height: 400px;
}

.carousal ul {
  list-style:none;
  position: relative;
}

.carousal .photo-container {
  background-color: rgb(204, 204, 204);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  height: 100%;
  display: none;
  animation: fadeIn 1s;
  box-shadow: 0 1px 15px rgba(209, 209, 209, 0.459);
}

.carousal .photo-container.active {
  display: block;
}

.carousal ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

/* ---------------------------- */
/* MAJOR-CLIENTS */
/* ---------------------------- */

.client-logos {
  text-align: center;
}

.logo-container {
  display: inline-block;
  padding: 0;
  position: relative;
}

.logo-container img {
  box-shadow: 0 1px 15px rgba(209, 209, 209, 0.459);
  height: 160px;
  margin: 10px;
  transition: box-shadow 0.6s, transform 0.4s;
  border-radius: 10px;
  background-color:#fff
}

.logo-container img:hover {
  box-shadow: 0px 1px 20px rgba(138, 138, 138, 0.692);
  transform: scale(1.15);
  transition: box-shadow 1s, transform 0.7s;
}

/* ---------------------------- */
/* MAP SECTION */
/* ---------------------------- */

.map-container {
  width: 92%;
  height: 400px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0 1px 15px rgba(209, 209, 209, 0.459);
  transition: transform 0.5s, box-shadow 0.5s;
}

.map-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 1px 20px rgba(138, 138, 138, 0.692);
}

.map-container:hover:after {
  content: 'Click to open the map';
  font-weight: bold;
  font-size: 150%;
  color: rgb(34, 34, 34);
  background-color: rgba(255, 255, 255, 0.658);
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top:5%;
  left:2%;
  animation: fadeIn 0.5s;
}

.address-box {
  text-align: center;
}

.address-box p {
  text-align: center;
  margin: 0 auto;
  font-size: 120%;
}

/* ---------------------------- */
/* FOOTER */
/* ---------------------------- */

footer {
  padding: 20px 0;
}

footer hr {
  border: 1px solid rgba(202, 202, 202, 0.842);
  margin-bottom: 40px;
}

.social-nav-footer {
  list-style: none;
}

.social-nav-footer li {
  float:left;
  margin-right: 30px;
  font-size: 25px;
  padding-top: 10px;
  color: rgb(151, 151, 151);
  transition: color 0.4s;
}

.social-nav-footer li:hover {
  color: #000;
}

.text-footer {
  /* font-weight: bold; */
  float:right;
  list-style: none;
  text-align: right;
}

.text-footer li {
  line-height: 140%;
}

.jd-logo-footer img {
  width: 65px;
}